* {
    margin: 0;
    padding: 0;
    font-family: comfortaa;
    font-size: 36px;
}

.clock{
    text-align: center;
    width: auto;
    height: auto;
}

* { box-sizing: border-box; }
.two { width: 30em; max-width: 100%; }
.two p { display: inline-block; max-width: 50%; }